$dark: #212121;
$blue: #2196f3;
$yellow: #ffeb3b;
$orange: #ffc107;
$red: #f44336;
$green: #4caf50;

$font: #707070;
$font-grey: #bdbdbd;
$s-font-normal: 14px;
$s-font-small: 12px;

$border: #e0e0e0;
$path_url_image : '/mamuju/mamuju-web/public/asset';