.partial-menu, .partial-search{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	font-weight: 500;
	height: 100%;
	display: none;
	background-color: #f5f5f5;
	// background-image: url(#{$path_url_image}/pattern-white.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.container{
		overflow: auto;
	    height: 100%;
	}
	.list-menu{
		display: block;
		.list{
			display: block;
			padding: 10px 0;
			border-bottom: 1px dashed $border;
			color: $font;
			i{
				font-size: 14px;
				margin-right: 5px;
			}
		}
	}
	.menu-button-close{
		background-color: $dark;
		text-align: center;
		color: #FFF;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
	}
}