.partial-menu{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	font-weight: 500;
	height: 100%;
	display: none;
	background-color: #fff;
	background-image: url(#{$path_url_image}/pattern-white.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.container{
		overflow: auto;
	    height: 100%;
	}
	.list-menu{
		display: flex;
		.item{
			width: calc(100% / 3);
			display: inline-block;
			text-align: center;
			padding: 10px;
			border-radius: 3px;
			margin: 5px;
			font-size: 3.5vw;
		}
	}
	.menu-button-close{
		background-color: $dark;
		text-align: center;
		color: #FFF;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
	}
}