.profil{
	box-shadow: 0px 1px 5px 0px $border;
	margin-top: 50px;
	.avatar {
		width: 50px;
		margin: 0px auto;
		> img {
			width: 60px;
			height: 60px;
			border-radius: 50px;
		}
	}
	.info{
		font-size: 16px;
	    font-weight: 500;
	    padding: 5px;
		.name{
			text-align: center;

		}
	}
	.divider{
		padding: 20px 50px;
	}
}