.ads{
    // Big Banner
    &-b{
        background-image: url('https://dge4uaysoh8oy.cloudfront.net/public/templates/gallery/img/bcjiec1da/Car-Special-Offer-Banner-Template.jpg');
        background-repeat: no-repeat;
        height: 250px;
        max-width: 970px;
        max-height: 300px;
        margin: 2 auto;
        background-position: center;
    }
}