@import 'section/headlines';
.col-v1{
	width: 20%;
	display: inline-block;
}
.col-v2{
	width: 40%;
	display: inline-block;
}
.col-v3{
	width: 60%;
	display: inline-block;
}
.col-v4{
	width: 80%;
	display: inline-block;
}
.br-l{
	border-left: 1px solid $border;
	padding: 0 0 0 5px;
}
.pb{
	// padding box
	padding: 0 10px;
}

// Element Index
.box-single-text{
	&-row{
		.title{
			font-size: 14px !important;
		    display: block !important;
		    width: 100% !important;
		    padding: 0 10px !important;
		    border-bottom: 1px solid $border;
		    font-weight: 500;
		}
		.category{
			font-size: 12px;
		    background-color: #BDBDBD;
		    color: #FFF;
		    display: inline-block;
		    padding: 0 10px;
		    border-radius: 50px;
		    margin: 10px 10px 0;
		}
	}
	> .title{
		font-size: 14px !important;
	    display: block !important;
	    width: 100% !important;
	    padding: 0 10px !important;
	    font-weight: 500;
	}
	> .category{
		font-size: 12px;
	    background-color: #BDBDBD;
	    color: #FFF;
	    display: inline-block;
	    padding: 0 10px;
	    border-radius: 50px;
	    margin: 0 10px;
	}
}

.box-single-image{
	> img{
		width: 100%;
		max-height: 150px;
	}
	> .title{
		font-size: 14px !important;
	    display: block !important;
	    width: 100% !important;
	    padding: 0px !important;
	    font-weight: 500;
	}
	> .category{
		font-size: 12px;
	    background-color: #BDBDBD;
	    color: #FFF;
	    display: inline-block;
	    padding: 0 10px;
	    border-radius: 50px;
	    margin: 10px 0 0;
	}
}

.box-image{
	> img{
		width: 100%;
		max-height: 350px;
	}
	> .title{
		font-size: 14px !important;
	    display: block !important;
	    width: 100% !important;
	    padding: 0px !important;
	    font-weight: 500;
	}
	> .category{
		font-size: 12px;
	    background-color: #BDBDBD;
	    color: #FFF;
	    display: inline-block;
	    padding: 0 10px;
	    border-radius: 50px;
	    margin: 10px 0 0;
	}
}