.content{
	padding: 0 2rem;
	margin-left: 250px;
	float: left;
	height: auto;
	position: relative;
}

.headline{
	display: flex;
}
.terbaru{
	display: flex;
	height: 530px;
}
.infografis{
	display: flex;
	height: 430px;
}

.mega-content{
	display: flex;
}