.sidebar{
	width: 250px;
	height: 100%;
	position: fixed;
	box-shadow: 3px 0px 5px $border;
	.logo{
		padding: 25px 50px;
		> img{
			width: 150px;
		}
	}
	.menu{
		padding: 0 25px;
		.list {
			font-size: 20px;
			padding: 20px 0;
			text-align: center;
			color: $font;
			.icon{
				i{
					color: $dark;
					font-size: 32px;
				}
				&.green.active{
					// border-bottom: 3px solid $green;
					i{
						color: $green;
					}
				}
				&.red.active{
					// border-bottom: 3px solid $red;
					i{
						color: $red;
					}
				}
				&.orange.active{
					// border-bottom: 3px solid $orange;
					i{
						color: $orange;
					}
				}
				&.default.active{
					i{
						color: $font;
					}
				}
			}
			span{
				color: $font;
				text-decoration: none;
				font-weight: 500;
				text-transform: uppercase;
			}
		}
	}
}