.text-green {
  color: #4caf50; }
.text-yellow {
  color: #ffeb3b; }
.text-red {
  color: #f44336; }
.text-grey {
  color: #707070; }

.navbar {
  width: 100%;
  position: fixed;
  background-color: #fff;
  margin: 0;
  z-index: 99;
  box-shadow: 0px 1px 5px #eeeeee; }
  .navbar .logo {
    width: 10%; }
    .navbar .logo > img {
      width: 100px; }
  .navbar .menu {
    width: 90%; }
    .navbar .menu .list {
      display: inline-block;
      margin: 30px 0px 0;
      font-size: 24px;
      font-weight: 500;
      border-left: 1px solid #e0e0e0;
      width: 150px;
      text-align: center; }
      .navbar .menu .list.right {
        margin-top: 40px;
        float: right;
        border-left: 0px;
        font-size: 16px;
        width: 70px; }
  .navbar .more {
    width: 100%;
    width: 600px;
    margin-left: 153px;
    margin-top: 30px;
    display: none; }

body {
  min-width: 1200px; }

.content {
  padding: 0 2rem;
  margin-left: 250px;
  float: left;
  height: auto;
  position: relative; }

.headline {
  display: flex; }

.terbaru {
  display: flex;
  height: 530px; }

.infografis {
  display: flex;
  height: 430px; }

.mega-content {
  display: flex; }

.account {
  float: right;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 24px;
  color: #707070; }

.account-img {
  float: right;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 24px;
  color: #707070; }
  .account-img img {
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 50px; }

.layout {
  background-color: #fafafa;
  padding: 100px 0 0; }
  .layout .paper {
    margin: 0 50px;
    background-color: #fff; }
    .layout .paper .box-row {
      width: 100%; }
    .layout .paper .section {
      width: 100%;
      display: flex;
      padding: 10px 0; }
      .layout .paper .section.break {
        margin-top: 10px; }
      .layout .paper .section .title {
        width: 20%;
        font-size: 20px;
        padding: 10px;
        display: inline-block; }

.js-link {
  cursor: pointer; }

.a-1,
.a-2,
.a-3,
.a-4,
.a-5,
.a-6,
.b-0,
.b-1,
.b-2,
.c-0,
.c-1,
.d-0,
.d-1,
.d-2,
.e-0,
.e-1,
.e-2 {
  display: none !important; }

.box-logister {
  padding: 0px 30px;
  margin-top: 10vh; }
  .box-logister .logo {
    width: 100%; }
    .box-logister .logo img {
      width: 80px; }
  .box-logister .form input {
    border-radius: 0; }
  .box-logister .form .input-group-text {
    border-radius: 0;
    background-color: transparent; }
  .box-logister .social-text {
    position: relative;
    text-align: center; }
    .box-logister .social-text .text {
      display: inline-block;
      text-align: center;
      position: relative;
      background-color: #fff; }
    .box-logister .social-text .line {
      position: absolute;
      top: -2px;
      width: 100%;
      z-index: -1; }
  .box-logister .social-logister .g {
    border: 1px solid #e0e0e0;
    background-color: #FFF;
    background-image: url(../asset/2000px-Google__G__Logo.svg.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    font-weight: 500;
    display: flex; }
    .box-logister .social-logister .g i {
      padding: 10px 20px;
      font-size: 20px; }
    .box-logister .social-logister .g .text {
      width: 100%; }
  .box-logister .social-logister .f {
    background-color: #1976d2;
    color: #FFF;
    font-weight: 500;
    display: flex; }
    .box-logister .social-logister .f i {
      padding: 10px 20px;
      font-size: 20px; }
    .box-logister .social-logister .f .text {
      width: 100%; }
  .box-logister .social-logister .login {
    text-align: center;
    text-transform: uppercase; }
    .box-logister .social-logister .login .text {
      padding: 10px; }
  .box-logister .text {
    font-size: 14px;
    text-align: center; }
  .box-logister button {
    border-radius: 0; }

.head .time-now {
  color: #f44336;
  padding: 0 20px; }

.col-v1 {
  width: 20%;
  display: inline-block; }

.col-v2 {
  width: 40%;
  display: inline-block; }

.col-v3 {
  width: 60%;
  display: inline-block; }

.col-v4 {
  width: 80%;
  display: inline-block; }

.br-l {
  border-left: 1px solid #e0e0e0;
  padding: 0 0 0 5px; }

.br-r {
  border-right: 1px solid #e0e0e0; }

.br-b {
  border-bottom: 1px solid #e0e0e0; }

.pb {
  padding: 0 10px; }

.box-single-text-row .title {
  font-size: 14px !important;
  display: block !important;
  width: 100% !important;
  padding: 0 10px !important;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 500; }
.box-single-text-row .category {
  font-size: 12px;
  background-color: #BDBDBD;
  color: #FFF;
  display: inline-block;
  padding: 0 10px;
  border-radius: 50px;
  margin: 10px 10px 0; }
.box-single-text > .title {
  font-size: 14px !important;
  display: block !important;
  width: 100% !important;
  padding: 0 10px !important;
  font-weight: 500; }
.box-single-text > .category {
  font-size: 12px;
  background-color: #BDBDBD;
  color: #FFF;
  display: inline-block;
  padding: 0 10px;
  border-radius: 50px;
  margin: 0 10px; }

.box-single-image {
  padding: 10px; }
  .box-single-image img {
    width: 100%;
    max-height: 150px; }
  .box-single-image .title {
    font-size: 14px !important;
    display: block !important;
    width: 100% !important;
    padding: 0px !important;
    font-weight: 500; }
  .box-single-image .category {
    font-size: 12px;
    background-color: #BDBDBD;
    color: #FFF;
    display: inline-block;
    padding: 0 10px;
    border-radius: 50px;
    margin: 10px 0 0; }

.box-image > img {
  width: 100%;
  max-height: 350px; }
.box-image > .title {
  font-size: 14px !important;
  display: block !important;
  width: 100% !important;
  padding: 0px !important;
  font-weight: 500; }
.box-image > .category {
  font-size: 12px;
  background-color: #BDBDBD;
  color: #FFF;
  display: inline-block;
  padding: 0 10px;
  border-radius: 50px;
  margin: 10px 0 0; }

.box-container .box-row-auto .box-1 .title, .box-container .box-row .box-1 .title {
  font-size: 14px !important;
  display: block !important;
  width: 100% !important;
  padding: 0 10px !important;
  font-weight: 500; }

.box-container .box-row-auto .box-1 .title-big, .box-container .box-row .box-1 .title-big {
  font-size: 22px !important;
  display: block !important;
  width: 100% !important;
  padding: 0 10px !important; }

.box-container {
  width: 1180;
  margin: 0 auto; }
  .box-container .box-row {
    display: flex;
    min-width: 1180;
    width: 1180;
    background-color: #fff; }
    .box-container .box-row-auto {
      width: 100%;
      display: flex;
      background-color: #fff; }
      .box-container .box-row-auto .box-1 {
        width: 235px;
        display: inline-block; }
      .box-container .box-row-auto .box-2 {
        width: 472px;
        display: inline-block; }
        .box-container .box-row-auto .box-2 .image {
          width: 100%; }
    .box-container .box-row .box-1 {
      width: 235px;
      display: inline-block; }
      .box-container .box-row .box-1 .box-title .head-title {
        font-size: 24px;
        padding: 0 20px;
        font-weight: 500; }
    .box-container .box-row .box-2 {
      width: 472px;
      display: inline-block; }
      .box-container .box-row .box-2 .image {
        width: 100%; }

.viewer > .img {
  width: 100%;
  height: 350px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
.viewer > .title {
  font-size: 24px;
  width: 100% !important; }
.viewer > .content-view {
  font-size: 14px;
  width: 100% !important; }
.viewer > .content-view * {
  width: 100%; }
.viewer .author {
  width: 100%;
  display: inline-block;
  border-top: 1px dashed #e0e0e0;
  border-bottom: 1px dashed #e0e0e0; }
  .viewer .author .avatar {
    display: inline-block;
    float: left; }
    .viewer .author .avatar img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      display: inline-block; }
  .viewer .author .box {
    display: inline-block; }
    .viewer .author .box .name {
      font-size: 12px;
      display: block;
      font-weight: 500;
      padding-left: 10px; }
    .viewer .author .box .position {
      display: block;
      font-size: 12px;
      padding-left: 10px; }
  .viewer .author .viewer {
    padding: 10px;
    font-size: 14px; }
    .viewer .author .viewer i {
      font-weight: 500;
      font-size: 16px;
      color: #707070; }
.viewer .tags .label {
  font-size: 14px;
  display: inline-block;
  font-weight: 500; }
.viewer .tags .list {
  display: inline-block; }
  .viewer .tags .list .item {
    font-size: 12px;
    background-color: #e0e0e0;
    color: #707070;
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px; }
.viewer .komentar {
  box-shadow: 1px 3px 5px 1px #e0e0e0;
  padding: 0 20px;
  border-radius: 3px; }
  .viewer .komentar .label {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    font-weight: 500; }
  .viewer .komentar .text-kometar {
    width: 100%;
    outline: none;
    border: 0px solid #e0e0e0;
    font-size: 16px; }
  .viewer .komentar .button-komentar {
    background-color: #212121;
    border: none;
    color: #FFF;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    border-radius: 3px;
    margin: 1rem 0; }
.viewer .viewer-komentar .list {
  padding-top: .5rem; }
  .viewer .viewer-komentar .list .avatar {
    display: inline-block; }
    .viewer .viewer-komentar .list .avatar img {
      width: 40px;
      height: 40px;
      border-radius: 50px; }
  .viewer .viewer-komentar .list .box {
    display: inline-block;
    vertical-align: middle; }
    .viewer .viewer-komentar .list .box .name {
      display: block;
      font-size: 14px;
      font-weight: 500;
      padding: 0 10px; }
    .viewer .viewer-komentar .list .box .time {
      display: block;
      font-size: 12px;
      padding-left: 10px; }
  .viewer .viewer-komentar .list .komentar-content {
    display: block;
    padding: .5rem 1rem;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0; }
.viewer .viewer-komentar .load-more-komentar {
  text-align: center;
  padding-top: .5rem;
  font-size: 14px;
  color: #bdbdbd;
  font-weight: 500; }

.footer {
  padding: 2rem 50px;
  background-color: #212121;
  width: fill-available;
  width: -webkit-fill-available;
  background-image: url("../asset/pattern-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  bottom: 0; }
  .footer .list a {
    display: block;
    text-decoration: none;
    color: #FFF; }
  .footer .subscribe input {
    border-radius: 50px 0 0 50px;
    background-color: #616161;
    color: #FFF;
    text-align: center; }
    .footer .subscribe input::placeholder {
      color: #FFF;
      font-size: 14px;
      text-align: center; }
    .footer .subscribe input:focus {
      outline: 0px !important;
      box-shadow: none !important; }
  .footer .subscribe button {
    border-radius: 0 50px 50px 0;
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    padding: 5px 15px;
    box-shadow: none !important; }
  .footer .apps {
    margin: 0 auto;
    width: 225px; }
    .footer .apps .dl {
      background-color: #616161;
      padding: 5px;
      border-radius: 5px;
      display: inline-flex; }
      .footer .apps .dl .ios {
        width: 107px;
        background-image: url("../asset/gap.png");
        height: 35px;
        background-size: 107px;
        background-position-x: 105px;
        background-position-y: 155.5px;
        margin: 0 auto; }
      .footer .apps .dl .and {
        width: 107px;
        background-image: url("../asset/gap.png");
        height: 35px;
        background-size: 107px;
        background-position-x: 108px;
        background-position-y: 115.5px;
        margin: 0px auto; }

/*# sourceMappingURL=desktop.css.map */
