.partial-menu {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 500;
  height: 100%;
  display: none; }
  .partial-menu .bg-sidebar {
    position: fixed;
    width: 100%;
    height: 20%;
    background-color: rgba(250, 250, 250, 0.5); }
  .partial-menu .sidebar {
    width: 100%;
    height: 80%;
    background-color: #212121;
    padding: 10px;
    position: fixed;
    bottom: 0;
    overflow-x: scroll; }
    .partial-menu .sidebar .sidebar-box .list-menu {
      color: #FFF;
      display: inline-block;
      padding: 5px 0;
      width: 20%; }
  .partial-menu .overlay-button-close {
    position: fixed;
    color: #FFF;
    background-color: #212121;
    top: 65px;
    right: 10;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 12px 14px; }

a, a:focus {
  text-decoration: none; }

hr.dashed {
  border-top: 1px dashed #e0e0e0; }

.profil {
  box-shadow: 0px 1px 5px 0px #e0e0e0; }
  .profil .avatar {
    width: 50px;
    margin: 0px auto; }
    .profil .avatar > img {
      width: 60px;
      height: 60px;
      border-radius: 50px; }
  .profil .info {
    font-size: 16px;
    font-weight: 500;
    padding: 5px; }
    .profil .info .name {
      text-align: center; }

.navigation {
  background-color: #212121;
  display: inline-block;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-backface-visibility: hidden; }
  .navigation .menu {
    padding: 15px;
    float: left;
    display: inline-block; }
    .navigation .menu > i {
      color: #FFF;
      font-size: 24px; }
  .navigation .logo {
    padding: 10px 20%;
    width: 100%;
    height: 50px; }
    .navigation .logo > img {
      width: 100%;
      max-width: 270px; }
  .navigation .menu-maps {
    display: block;
    float: left;
    width: 100%;
    text-align: center; }
    .navigation .menu-maps a {
      text-decoration: none;
      color: #FFF; }
      .navigation .menu-maps a.active {
        background-color: #616161;
        padding: 2 20px;
        border-radius: 50px; }

.container .block-nav .item {
  text-align: center; }
  .container .block-nav .item.green.active > i {
    color: #4caf50; }
  .container .block-nav .item.red.active > i {
    color: #f44336; }
  .container .block-nav .item.orange.active > i {
    color: #ffc107; }
  .container .block-nav .item > i {
    display: block;
    font-size: 20px; }
  .container .block-nav .item > span {
    font-size: 14px; }
.container .kategori-title {
  color: #707070;
  font-weight: 500;
  padding: 10px 0; }
.container .search .input-group {
  box-shadow: 0px 3px 10px 2px #bdbdbd;
  border-radius: 5px; }
  .container .search .input-group .form-control {
    padding: 12px 5px;
    box-shadow: none !important; }
.container .search .input-group-text {
  padding: 12px 10px 12px 20px;
  background-color: transparent !important; }
.container .headline {
  color: #707070; }
  .container .headline > img {
    width: 100%;
    border-radius: 5px;
    max-height: 200px; }
  .container .headline > .title > h5 {
    font-size: 1.1rem !important; }
  .container .headline > .desc {
    font-size: 14px; }
.container .news img {
  width: 100%;
  border-radius: 5px;
  max-height: 100px; }
.container .news .title > h6 {
  color: #707070;
  font-size: 0.9rem !important; }
.container .news .desc {
  font-size: 12px; }
.container .news .info .label {
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 2px;
  font-weight: 500; }
  .container .news .info .label.yellow {
    background-color: #ffeb3b;
    color: #FFF; }
  .container .news .info .label.orange {
    background-color: #ffc107;
    color: #FFF; }
.container .news .info .tanggal {
  font-size: 12px;
  float: right; }
.container .video > iframe {
  width: 100%;
  height: 40%;
  max-height: 300px;
  border-radius: 5px; }
.container .box-title {
  color: #707070;
  font-size: 1rem !important; }
.container .box-more {
  color: #2196f3;
  font-size: 0.9rem; }
.container .line img {
  width: 100%;
  border-radius: 5px;
  max-height: 80px; }
.container .line .title {
  font-size: 1rem !important; }
.container .info .label {
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 2px;
  font-weight: 500; }
  .container .info .label.yellow {
    background-color: #ffeb3b;
    color: #FFF; }
  .container .info .label.orange {
    background-color: #ffc107;
    color: #FFF; }
  .container .info .label.green {
    background-color: #4caf50;
    color: #FFF; }
.container .info .tanggal {
  font-size: 12px;
  float: right; }
.container .scrollabel {
  width: 100%;
  display: inline-block;
  overflow-x: auto; }
  .container .scrollabel .scroll {
    display: inline-block;
    width: max-content; }
    .container .scrollabel .scroll .content {
      min-width: 150px;
      max-width: 170px;
      display: inline-block;
      float: left;
      margin: 0 15px 0 0; }
      .container .scrollabel .scroll .content-large {
        width: 50vmax;
        display: inline-block;
        float: left;
        margin: 0 15px 0 0; }
        .container .scrollabel .scroll .content-large > img {
          width: 100%;
          border-radius: 5px;
          min-height: 200px; }
      .container .scrollabel .scroll .content > img {
        width: 100%;
        border-radius: 5px;
        max-height: 100px; }
      .container .scrollabel .scroll .content .title > h5 {
        font-size: 0.9rem !important; }

.berita .page-map .item {
  display: inline-block;
  font-size: 12px; }
.berita .page-map .separator {
  display: inline-block;
  font-size: 12px; }
.berita .title {
  font-size: 1.1rem !important; }
.berita .time-upload {
  font-size: 11px;
  padding-bottom: .5rem;
  color: #bdbdbd;
  font-weight: 500; }
  .berita .time-upload .coment-counter {
    display: inline-block;
    float: right; }
.berita .author {
  width: 100%;
  display: inline-block;
  border-top: 1px dashed #e0e0e0;
  border-bottom: 1px dashed #e0e0e0; }
  .berita .author .avatar {
    display: inline-block;
    float: left; }
    .berita .author .avatar img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      display: inline-block; }
  .berita .author .box {
    display: inline-block; }
    .berita .author .box .name {
      font-size: 12px;
      display: block;
      font-weight: 500;
      padding-left: 10px; }
    .berita .author .box .position {
      display: block;
      font-size: 12px;
      padding-left: 10px; }
.berita .image {
  display: block; }
  .berita .image > img {
    width: 100%;
    border-radius: 5px; }
  .berita .image > .img-ket {
    font-style: italic;
    font-size: 10px;
    color: #707070; }
.berita .konten {
  font-size: 14px; }
.berita .tags .label {
  font-size: 14px;
  display: inline-block;
  font-weight: 500; }
.berita .tags .list {
  display: inline-block; }
  .berita .tags .list .item {
    font-size: 12px;
    background-color: #e0e0e0;
    color: #707070;
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px; }
.berita .komentar {
  box-shadow: 1px 3px 5px 1px #e0e0e0;
  padding: 0 20px;
  border-radius: 3px; }
  .berita .komentar .label {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    font-weight: 500; }
  .berita .komentar .text-kometar {
    width: 100%;
    outline: none;
    border: 0px solid #e0e0e0;
    font-size: 16px; }
  .berita .komentar .button-komentar {
    background-color: #212121;
    border: none;
    color: #FFF;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    border-radius: 3px;
    margin: 1rem 0; }
.berita .viewer-komentar .list {
  padding-top: .5rem; }
  .berita .viewer-komentar .list .avatar {
    display: inline-block; }
    .berita .viewer-komentar .list .avatar img {
      width: 40px;
      height: 40px;
      border-radius: 50px; }
  .berita .viewer-komentar .list .box {
    display: inline-block;
    vertical-align: middle; }
    .berita .viewer-komentar .list .box .name {
      display: block;
      font-size: 14px;
      font-weight: 500;
      padding: 0 10px; }
    .berita .viewer-komentar .list .box .time {
      display: block;
      font-size: 12px;
      padding-left: 10px; }
  .berita .viewer-komentar .list .komentar-content {
    display: block;
    padding: .5rem 1rem;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0; }
.berita .viewer-komentar .load-more-komentar {
  text-align: center;
  padding-top: .5rem;
  font-size: 14px;
  color: #bdbdbd;
  font-weight: 500; }

.footer {
  background-color: #212121 !important;
  color: #FFF; }
  .footer .subscribe input {
    border-radius: 50px 0 0 50px;
    background-color: #616161;
    color: #FFF;
    text-align: center; }
    .footer .subscribe input::placeholder {
      color: #FFF;
      font-size: 14px;
      text-align: center; }
    .footer .subscribe input:focus {
      outline: 0px !important;
      box-shadow: none !important; }
  .footer .subscribe button {
    border-radius: 0 50px 50px 0;
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    padding: 5px 15px;
    box-shadow: none !important; }
  .footer hr {
    border-top: 1px solid #dee2e6 !important; }
  .footer .footer-text {
    color: #FFF; }
    .footer .footer-text small {
      display: block;
      padding: 3px 0; }

/*# sourceMappingURL=mobile.css.map */
